{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column portfolio-title">
                <h2 class="title is-2">{{ .Title }}</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="tabs is-centered">
                    <ul>
                        <li><a href="/projects" class="main-btn" style="color: #fff;margin: 0 5px">All Projects</a></li>
                        {{ range $name, $taxonomy := .Site.Taxonomies.projects }}
                      <li>
                        <a href="/projects/{{ $name | urlize }}" class="main-btn" style="color: #fff;margin: 0 5px">{{ $name | humanize }}</a>
                      </li>
                      {{end}}
                
                      <li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="columns is-multiline">
            {{ range .Pages }}
            <div class="column is-4 portfolio-container-list">
                <div class="portfolio-card">
                    <img src="{{ .Params.featured_image }}" alt="" style="object-fit: cover;height:200px" alt="{{ .Site.BaseURL }}">
                        <div class="portfolio-list-content">
                            <h4 class="subtitle is-5">{{ .Title }}</h4>
                            <ul>
                                {{ range $name, $taxonomy := .Site.Taxonomies.projects }}
                              <li>
                                <a href="/projects{{ $name | urlize | relURL }}" class="secondary-btn">/ {{ $name | humanize }}</a>
                              </li>
                              {{end}}
                            </ul>
                            <a href="{{ .Permalink }}" style="color: #000;">View Project</a>
                        </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}

