{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column portfolio-title">
                <h2 class="title is-2">{{ .Title }}</h2>
            </div>
        </div>
        <div class="columns is-multiline">
            {{ range .Pages }}
            <div class="column is-4 portfolio-container-list">
                <div class="portfolio-card">
                        <div class="portfolio-bg" style="background: url({{ .Params.featured_image }});height: 30vh;position:relative;background-size:cover">
                            <a href="{{ .Permalink }}" class="view-more">View More</a>
                        </div>
                        <div class="portfolio-list-content">
                            <h4 class="subtitle is-5">{{ .Title }}</h4>
                            <ul>
                                {{ range $name, $taxonomy := .Site.Taxonomies.portfolios }}
                              <li>
                                <a href="/portfolio{{ $name | urlize | relURL }}" class="secondary-btn">/ {{ $name | humanize }}</a>
                              </li>
                              {{end}}
                            </ul>
                        </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}

