{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column portfolio-title">
                <h2 class="title is-2">{{ .Title }}</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                <div class="columns is-multiline">
                {{ range .Params.gallery }}
                        <div class="column is-6">
                            <img src="{{ . }}" alt="">
                        </div>
                {{ end }}
                </div>
            </div>
            <div class="column content portfolio-right">
                <h2 class="title is-5">Description</h2>
                <p>{{ .Params.description }}</p>
                <h2 class="title is-5">The Approach</h2>
                <p>{{ .Params.approach }}</p>
                <div class="portfolio-content">
                    <h4 class="subtitle is-6">Client</h4>
                    <p>{{ .Params.client_name }}</p>
                </div>
                <div class="portfolio-content">
                    <h4 class="subtitle is-6">Project Completed</h4>
                    <time>{{.Date.Format "Jan 2, 2006" }}</time><br><br>
                    <h4 class="subtitle is-6">Website Link</h4>
                    <a href="{{ .Params.website_link }}" target="_blank" style="color: #000">Visit Website</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}