{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="is-title is-4">{{ .Title }}</h2>
            </div>
        </div>
        <div class="columns is-multiline">
            {{ range .Pages }}
            <div class="column is-4">
                <div class="portfolio-card box">
                    {{ .Title }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}

