{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h2 class="title is-2">Pick your design</h2>
                <p>We are web developers who love coding! We'll release free templates and help you set them up.</p>
                <p>Choose a pricing plan when you want to connect a custom domain</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h4 class="title is-4">Browse by</h4>
                <ul class="theme-cat">
                    {{ range $designs, $taxonomy := .Site.Taxonomies.designs }}
                  <li>
                    <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/designs{{ $designs | urlize | relURL }}" class="secondary-btn">{{ $designs | humanize }} ({{ $taxonomy.Count }})</a>
                  </li>
                  {{end}}
        
                </ul>
            </div>
            <div class="column is-10">
                <div class="columns is-multiline is-variable is-8">
                    {{ range .Pages }}
                    <div class="column is-6 mb-6">
                        <div class="card theme-card">
                            <div class="theme-img">
                                <img src="{{ .Params.template }}" alt="">
                            </div>
                            <div class="columns is-vcentered pt-4 pb-4 is-mobile">
                                <div class="column">
                                    <div>
                                        <h4 class="subtitle is-6">{{ .Title }}</h4>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="columns is-mobile">
                                        <div class="column">
                                            <a href="{{ .Permalink }}" class="theme-btn">Select</a>
                                        </div>
                                        <div class="column">
                                            <a href="{{ .Params.preview }}" target="_blank" class="preview-btn">Preview</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}