h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif!important;
}

main {
    padding: 40px 30px;
}

p,
a,
li {
    font-family: 'Quicksand', sans-serif;
 }

/* HERO */

div.hero-body h1,
div.hero-body p {
    color: #fff;
    line-height: 2;
}


/* START DROPDOWN */

@media screen and (max-width: 1087px){



    .navbar-menu.is-active {
        display: block;
        transition: all .2s ease;
        position: absolute;
        right: 0;
        top: -20px;
        height: 100vh;
    }

    .navbar-burger {
        z-index: 1000;
        transition: all .2s ease;
    }
    
    .navbar-menu {
        display: block!important;
        position: absolute;
        right: -300px;
        transition: all .2s ease;
        padding: 40px;
        height: 100vh;
        top: -20px;

    }



    div#navbarMenuHeroC ul {
        padding-top: 50px;
    }

    div#navbarMenuHeroC {
        padding: 40px;
    }

    ul.head-nav li {
        padding: 10px;
    }

    ul.head-nav li a {
        color: #000;
    }
}


@media screen and (min-width:1088px) {
    .head-nav li {
        display: inline-block;
        padding: 0 10px;
    }
    
    .head-nav li a {
        color: #fff;
    }
}

a.navbar-item img {
    max-height: 3rem;
}

div.navbar-brand {
    align-items: center;
}




/* END DROP DOWN */



.navbar>.container {
    align-items: center!important;
}



@media screen and (max-width: 768px) {
    .info-list {
        columns: 1!important;
        -webkit-columns:1!important;
        -o-columns: 1!important;
        -moz-columns: 1!important;
    }
}

ul.info-list {
    columns: 2;
    -webkit-columns:2;
    -o-columns: 2;
    -moz-columns: 2;
    list-style-position: outside!important;
    -webkit-list-style-position: outside!important;
    -o-list-style-position: outside!important;
}

.info-list li {
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
}

div.message-header {
    padding: 25px;
    background: #444C5C;
}

.message-header h2 {
    color: #fff;
}

.message-body h2 {
    padding: 25px;
}

.message-body i {
    color: #bea233;
    margin-right: 8px;
}

/* ICON CTA */

#icon-cta i {
    font-size: 2rem;
    padding-bottom: 20px;
    color: #444C5C;
}

#icon-cta p {
    font-size: 1.2rem;
}

#icon-cta {
    background: #fafafa;
}

/* INTRO SECTION */

#intro-section p {
    font-size: 1.1rem;
}

#intro-section i {
    color: #bea233;
    margin-right: 8px;
}

/* FOOTER */

footer.footer {
    background: #444C5C;
    color: #fff;
}

div.bottom-footer {
    background-color:#313b4f;
    padding: 10px 0;
}

.bottom-footer a {
    color: #fff;
}