div.section {
    padding: 4rem 1.5rem;
}


body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #000;
}

body h1.subtitle,
body h2.subtitle,
body h3.subtitle,
body h4.subtitle,
body h5.subtitle,
body h6.subtitle{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #000;
}

main {
    padding: 40px 30px;
}

body {
    overflow:hidden;
}

.main-btn {
    background: #000;
    padding: 15px 50px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

a.second-btn {
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid black;
    padding: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}

a.view-more {
    font-family: 'Oswald', sans-serif;
    color: #000;
    z-index: 100;
    font-size: 20px;
}

a,
li {
    font-family: 'Mulish', sans-serif;
    font-size: .9rem;
 }

 body p {
    /* color: #6e7882; */
    color:rgb(83, 97, 113);
    font-size: .9rem;
    font-family: 'Mulish', sans-serif;
 }

 body p {
    line-height: 1.785em;
 }

/* HERO */

div.hero-body h1,
div.hero-body p {
    color: #fff;
    line-height: 1.2;
}


div.hero-body h1,
div.hero-body p {
    color: #000;
}

.hero-image-overlay {
    position: relative;
    right: 130px;
    z-index: -1;
}

/* HERO FOOTER */

.hero-foot h4.subtitle,
.hero-foot p {
    color: #000;
}

/* MENU */

.navbar-brand h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    color: #000;
}

header.navbar {
    height: 15vh;
}

/* CTA */

.inner-box {
    padding: 80px 10px;
    border-radius: 3px;
    border: 2px solid rgba(35,31,32,.05);
    transition: all 1s ease;
}

.inner-box:hover {
    border: 2px solid black;
    transition: all 1s ease;
}

/* SIDEBAR */

.sidebar-social li a {
    color: #000;
}

.sidebar-social li {
    display: inline-block;
    margin: 15px 5px;
}

/* PORTFOLIO LIST */

div.case-study-container {
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}

div.case-image-container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.portfolio-container-list {
    margin: 20px 0;
}

div.portfolio-list-content {
    padding-top: 20px;
}

div.portfolio-list-content ul li {
    display: inline-block;
}

div.portfolio-list-content h4.subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: normal;
}

div.portfolio-list-content a {
    color: #b0b0b0;
    font-size: 13px;
}

div.portfolio-bg {
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.portfolio-bg:hover {
    opacity: .5;
    transition: all .2s ease;
}

div.portfolio-bg a {
    visibility: hidden;
}

div.portfolio-bg:hover a {
    visibility: visible;
}

/* SINGLE PAGE PORTFOLIO */

div.portfolio-title {
    height: 15vh;
}

div.portfolio-title h2.title.is-2 {
    font-weight: 800;
    font-size: 50px;
}

div.portfolio-content {
    padding: 20px 0;
}

div.portfolio-content h4.subtitle {
    margin: 10px 0;
    font-weight: 800;
}

/* CONTACT PAGE */

h2.contact-title.title {
    font-size: 2rem;
}

/* SHARE */

#share-buttons {
    margin-top: 50px;
}

#share-buttons a i {
     color: #000;
     margin: 8px;
}

/* FORMS */

input.input {
    border-bottom: 2px solid black;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

textarea.textarea {
    border-bottom: 2px solid black;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

/* BLOG PAGE */

.blog-featured-img {
    margin: 50px 0;
}

/* HERO FOOTER */

div.hero-foot {
    color: #fff;
    padding: 40px;
    background: #fff;
    border-top: 1px solid #e1e1e1;

}


div.hero-foot h4 {
    color: #fff;
}

/* PARALLAX */



div.parallax-box {
    border: 1px solid rgba(85, 85, 85, 0.5);
    margin: 10px;
    padding: 40px;
}


/* TESTIMONIAL SLIDER */

figure.image.is-128x128{
    margin: 50px auto;
    text-align: center;
}

/* PACKAGE */

div.package {
    padding: 20px 10px;
    border-radius: 4px;
    height: 100%;
}

div.package span {
    font-size: 16px;
}


/* FOOTER */

footer.footer {
    background: #fff;
    border-top: 2px solid rgba(35,31,32,.05);
}

footer.footer h1,
footer.footer h4,
footer.footer h2 {
    color: #000;
}

footer.footer a {
    color:#000;
}

footer.footer ul li {
    margin: 10px 0;
}

footer.footer ul li i {
    margin-right: 8px;
    font-size: 20px;
}

ul.footer-social li {
    display: inline-block;
}

.footer-tagline a {
    text-decoration: underline;
    font-family: inherit;
}




