{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <h1 class="title is-1" style="color:#D5465F">Our Latest News</h1>
                <p>The JAMstack web development architecture is the best solution to modern-day web projects. Learn more here why we choose to use JAMstack</p>
            </div>
            <div class="column">
                <img src="/uploads/blog2.png" alt="">
            </div>
          </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">

                <div class="columns is-multiline">
                {{ $paginator := .Paginate (where .Pages "Type" "blog") 6 }}
                {{ range $paginator.Pages.ByWeight }}
                    <div class="column is-6">
                        <div class="blog-container" style="margin: 10px; height: 100%;">
                            <a href="{{ .Permalink }}">
                            <div class="blog-image-container">
                                <div class="card-content blog-bg" style="background: url({{ if .Params.featured_image }}{{ .Params.featured_image }}{{else}}https://www.hungryram.com/uploads/nophotohouse.jpg{{ end }});height: 30vh;position:relative;background-size:cover">
                            </div>
                          </div>
                              <div class="card-content">
                                <h2 class="subtitle is-5">{{ .Title }}</h2>
                                <p class="blog-summary">{{ .Summary }}</p>
                                <br>
                                <a href="{{ .Permalink }}" class="readmore">Read More</a>
                              </div>
                          </a>
                          </div>                    </div>   
                {{ end }}
                </div>
                {{ partial "pagination" . }}
            </div>
            {{ partial "sidebar.html" . }}

        </div>

    </div>
</div>

{{ end }}