{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            
            <div class="column is-8">
                <h1 class="title is-1">{{.Title}}</h1>

                <div class="content">
                    <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" class="blog-featured-img">
                    <div class="field-content content">
                        {{ .Content }}
                    </div>
                </div>
                <div id="share-buttons"> 
                    <h3 class="subtitle is-5">Share this Blog</h3>
           
                    <!-- Email -->
                    <a href="mailto:?Subject=Check%20Out%20This%20Blog&amp;Body=Check%20out%20this%20blog%20from%20{{ .Permalink | absURL }}">
                      <i class="far fa-envelope"></i>
                    </a>    
                    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u={{ .Permalink | absURL }}" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>     
                    <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | absURL }}" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>       
                    <!-- Twitter -->
                    <a href="https://twitter.com/share?url={{ .Permalink | absURL }}&amp;text=Check%20out%20this%20blog%20from%20{{ .Site.Data.profile.logo_and_title.website_title }}" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                </div> <!-- end share buttons -->
            </div>
            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>

    </div>
</div>

{{ end }}