{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            
            <div class="column is-8">
                <h1 class="title is-1">{{.Title}}</h1>

                <div class="content">
                    <img src="{{ .Params.featured_image }}" alt="" class="blog-featured-img">
                    <div class="field-content content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
            <div class="column">
                {{ partial "sidebar.html" . }}
            </div>
        </div>

    </div>
</div>

{{ end }}