{{ define "main" }}

      <div class="hero-body content">
        <div class="container">
          <div class="columns is-vcentered is-gapless">
            <div class="column">
              <h1 class="title is-1 is-size-2-mobile">
                faster, more secured than any real estate websites
              </h1>
              
              <p class="subtitle">
                <strong>A different type of real estate website.</strong> Most real estate websites run on Wordpress or some type of database. We help you stand out from thousands of real estate websites who use Wordpress.
              </p>
              <br>
              <a href="#get-started" class="hero-cta">Get Started</a>
            </div>
            <div class="column mt-6">
              <div class="phone-bg">
                <img src="/uploads/real-estate.png" alt="">
              </div>
            </div>
  
          </div>
        </div>
        </div>
  
      
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h4 class="subtitle is-6">Cutting edge solutions</h4>
              <p>Fast rendering websites</p>
            </div>
            <div class="column">
              <h4 class="subtitle is-6">Trending Technology</h4>
              <p>No outdated software ever</p>
            </div>
            <div class="column">
              <h4 class="subtitle is-6">ADA Compliant</h4>
              <p>Integrated ADA compliant website</p>
            </div>
            <div class="column">
              <h4 class="subtitle is-6">Easy Management</h4>
              <p>Manage your website on any device</p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered content">
                <div class="column is-7">
                    <h1 class="title is-2">The perfect plan for your real estate website</h1>
                    <p>Drive visits, engagement and leads by utilizing a JAMstack website for real estate. Your real estate website will allow visitors to have a better and faster user experience anywhere they are.</p>
                    <p>We don't use iFrames for your IDX. This means:</p>
                    <ul>
                        <li>Better SEO benefits</li>
                        <li>Better user experience</li>
                        <li>Mobile friendly</li>
                    </ul>
                    <br>
                    <a href="https://simplere.netlify.app/" target="_blank" class="hero-cta">View Demo</a>
                </div>
                <div class="column">
                    <div class="card content" style="border-top:5px solid #FCD806">
                        <div class="card-content">
                            <h1 class="title is-1 has-text-centered pt-5">$99<span>/mo</span></h1><h5 class="subtitle has-text-centered">+129 one-time set up</h5>
                            <hr>
                            <ul class="price-list">
                                <li>Property Search</li>
                                <li>Account Manager</li>
                                <li>ADA Widget Install</li>
                                <li>Visitor Registration</li>
                                <li>Featured Properties</li>
                                <li>Lead Management</li>
                                <li>Lead Integration</li>
                                <li>Advanced Property Search</li>
                                <li>Rental Listings</li>
                                <li>Commercial Listings</li>
                                <li>Mortgage Calculator</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="columns" id="get-started">
                <div class="column">
                    <div class="content">
                        <h1 class="title is-2">Let's boost your real estate site</h1>
                        <form name="custom web design" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                            <input name="bot-field" type="hidden" />
                            <input type="hidden" name="subject" value="Real Estate Web Design" />
                            <div class="field">
                                <div class="control">
                                  <input class="input" type="text" placeholder="Your Name" name="name" required>
                                </div>
                              </div>
                        <div class="field">
                            <div class="control">
                              <input class="input" type="email" placeholder="Your Email" name="email" required>
                            </div>
                          </div>
                          <div class="field">
                            <div class="control">
                              <textarea class="textarea" placeholder="Have a special request? Leave a message here" name="message" required></textarea>
                            </div>
                          </div>
                          
                          <div class="field is-grouped">
                            <div class="control">
                              <button class="main-btn">Submit</button>
                            </div>
                          </div>
                          <div class="field pt-5">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" required name="agreed terms">
                                    By clicking submit, I agree to the <a href="/terms-and-conditions" class="terms">terms and conditions</a> and <a href="privacy-policy" class="terms">Privacy Policy</a>
                                  </label>
                            </div>
                        </div>
                          </form>
                    </div>
                </div>
                <div class="column">
                    <img src="/uploads/dev.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="columns pb-6">
                <div class="column">
                    <h1 class="title is-2">Client review</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <p style="line-height: 40px;">"Our partnership has always been professional and valuable. The team is very responsive and gets things done faster than expected. I'm so glad I made the switch from my other website provider because now my site is always updated"</p>
                    <article class="media pt-6">
                      <figure class="media-left">
                        <p class="image is-64x64">
                          <img class="is-rounded" src="/uploads/johnpagani.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Pagani</strong><br>
                            <small>Broker at Wallstreet Realty</small>
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="column">
                    <p style="line-height: 40px;">"Ram is so efficient with my website. I'm so happy to be working with him and I can't see my site being managed anywhere else. He was able to always upgrade my website without having me ask."</p>
                    <article class="media pt-6">
                      <figure class="media-left">
                        <p class="image is-64x64">
                          <img class="is-rounded" src="/uploads/yooripark.jpg">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Yoori Park</strong><br>
                            <small>Los Angeles Luxury Realtor</small>
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>

            </div>
        </div>
    </div>
  <div class="section">
      <div class="container">
          <div class="columns">
              <div class="column is-half is-offset-one-quarter">
                <div class="card">
                    <header class="card-header">
                      <p class="card-header-title subtitle is-6">
                        Terms
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <ul>
                            <li>Additional Fees for pass-through fees may apply to certain MLS boards</li>
                            <li>Any IDX pages layouts are provided by iHomefinder</li>
                            <li>3 month contract, then month-to-month</li>
                            <li>$99 fee cancellation for cancelling before 3 month period</li>
                            <li>Adding an additional MLS board requires a set up of $59</li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    

{{ end }}
