{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h1 class="title is-2">Pricing</h1>
                <p>Our pricing plans to get your site up and running quickly with very generous features!</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="package card content" style="border-top:5px solid #D5465F;">
                    <h4 class="title is-6 has-text-centered">Personal</h4>
                    <h1 class="title is-1 has-text-centered">$12<span>/mo</span></h1>
                    <hr>
                    <p class="has-text-centered">Best for personal sites such as blogging</p>
                    <ul>
                        <li>Integrated SSL</li>
                        <li>CDN</li>
                        <li>Custom Domain Support</li>
                        <li>Personal Account Manager</li>
                        <li>Website Care Package</li>
                        <li>Unlimited Form Submissions</li>
                    </ul>
                    <a href="" class="button price-btn">Get Started</a>
                </div>
            </div>
            <div class="column">
                <div class="package card content" style="border-top:5px solid #FCD806">
                    <h4 class="title is-6 has-text-centered">Business</h4>
                    <h1 class="title is-1 has-text-centered">$39<span>/mo</span></h1>
                    <hr>
                    <p class="has-text-centered">Suited for all business owners and online stores</p>
                    <ul>
                        <li>Integrated SSL</li>
                        <li>CDN</li>
                        <li>Custom Domain Support</li>
                        <li>Personal Account Manager</li>
                        <li>Custom Development Work</li>
                        <li>Unlimited Form Submissions</li>
                        <li>Ecommerce Support</li>
                    </ul>
                    <a href="" class="button has-text-centered">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}