{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <h1 class="title is-2">Pricing</h1>
                <p>Our pricing plans to get your site up and running quickly with very generous features!</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="package card content" style="border-top:5px solid #1fb2fc;">
                    <div class="card-content">
                        <h4 class="title is-6 has-text-centered package-title">Trial</h4>
                        <h1 class="title is-1 has-text-centered">Free <span>7 day trial</span></h1>
                        <hr>
                        <p class="has-text-centered">Find out how easy it is to get your site up and running</p>
                        <ul class="price-list">
                            <li>Receive the full service and all features included</li>
                        </ul>
                    </div>
                    <div>     
                        <a href="#" class="card-footer-item main-btn">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="package card content" style="border-top:5px solid #D5465F;">
                    <div class="card-content">
                    <h4 class="title is-6 has-text-centered package-title">Personal</h4>
                    <h1 class="title is-1 has-text-centered">$14<span>/mo</span></h1>
                    <hr>
                    <p class="has-text-centered">Best for personal sites such as blogging</p>
                    <ul class="price-list">
                        <li>Integrated SSL</li>
                        <li>CDN</li>
                        <li>Custom Domain Support</li>
                        <li>Personal Account Manager</li>
                        <li>Website Care Package</li>
                        <li>Unlimited Form Submissions</li>
                    </ul>
                    </div>
                    <div>     
                        <a href="#" class="card-footer-item main-btn">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="package card content" style="border-top:5px solid #FCD806">
                    <div class="card-content">
                        <h4 class="title is-6 has-text-centered package-title">Business</h4>
                        <h1 class="title is-1 has-text-centered">$39<span>/mo</span></h1>
                        <hr>
                        <p class="has-text-centered">Suited for all business owners and online stores</p>
                        <ul class="price-list">
                            <li>Integrated SSL</li>
                            <li>CDN</li>
                            <li>Custom Domain Support</li>
                            <li>Personal Account Manager</li>
                            <li>Custom Development Work</li>
                            <li>Unlimited Form Submissions</li>
                            <li>Ecommerce Support</li>
                        </ul>
                    </div>
                    <div>
                        <a href="#" class="card-footer-item main-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}