{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column has-text-left">
                <h1 class="title is-2">Set up your site for free</h1>
                <p>Only pay when you connect a custom domain</p>
            </div>
            <div class="column has-text-left">
                <p class="pb-4">Start building your website for free using any of our templates. </p>
                <a href="/templates" class="card-footer-item main-btn" style="width:50%">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="package card content" style="border-top:5px solid #D5465F;">
                    <div class="card-content">
                    <h4 class="title is-6 has-text-centered package-title">Personal</h4>
                    <h1 class="title is-1 has-text-centered">$14<span>/mo</span></h1>
                    <hr>
                    <p class="has-text-centered">Best for personal sites such as blogging</p>
                    <ul class="price-list">
                        <li>Custom domain</li>
                        <li>SSL Security</li>
                        <li>24/7 Support</li>
                        <li>Search Engine Optimization</li>
                        <li>Mobile Optimized</li>
                        <li>Low Priority Support</li>
                    </ul>
                    </div>
                    <div>     
                        <a href="/templates" class="card-footer-item main-btn has-text-white">Choose Design</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="package card content" style="border-top:5px solid #FCD806">
                    <div class="card-content">
                        <h4 class="title is-6 has-text-centered package-title">Business Pro</h4>
                        <h1 class="title is-1 has-text-centered">$39<span>/mo</span></h1>
                        <hr>
                        <p class="has-text-centered">Suited for Real Estate Professionals and Ecommerce</p>
                        <ul class="price-list">
                            <li>Custom domain</li>
                            <li>SSL Security</li>
                            <li>24/7 Support</li>
                            <li>Google Analytics</li>
                            <li>Google Search Console</li>
                            <li>Search Engine Optimization</li>
                            <li>Mobile Optimized</li>
                            <li>Personal Account Manager</li>
                            <li>VIP Support</li>
                            <li>Custom Website Features</li>
                            <li>Ecommerce Integration <a href="https://snipcart.com/" target="_blank">(Snipcart)</a></li>
                        </ul>
                    </div>
                    <div>
                        <a href="/templates" class="card-footer-item main-btn has-text-white">Choose Design</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="package card content" style="border-top:5px solid #1fb2fc;">
                    <div class="card-content">
                        <h4 class="title is-6 has-text-centered package-title">Real Estate with IDX Solutions</h4>
                        <h1 class="title is-1 has-text-centered">$99<span>/mo</span></h1>
                        <h5 class="subtitle has-text-centered">+99 one-time set up</h5>
                        <hr>
                        <p class="has-text-centered">Real estate requires special integration. See more information <a href="/real-estate-websites">here</a></p>
                        <ul class="price-list">
                            <li>Property Search</li>
                            <li>Account Manager</li>
                            <li>ADA Widget Install</li>
                            <li>Visitor Registration</li>
                            <li>Featured Properties</li>
                            <li>Lead Management</li>
                            <li>Lead Integration</li>
                            <li>Advanced Property Search</li>
                            <li>Rental Listings</li>
                            <li>Commercial Listings</li>
                            <li>Mortgage Calculator</li>
                        </ul>
                    </div>
                    <div>     
                        <a href="/real-estate-websites" class="card-footer-item main-btn has-text-white">More Info</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{ end }}