{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h2 class="title is-4">I'd love your feedback on the new platform!</h2>
                <p>The website system built for real estate is currently in the beta phase. I'd love to know your feedback from your experience with it. Any feature suggestions will be reviewed before moving it to development.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                    <input type="hidden" subject="feedback">
                    <input name="bot-field" type="hidden">
                <div class="field">
                    <label class="label">Your Email</label>
                    <div class="control">
                      <input class="input" type="email" placeholder="Email" name="email">
                    </div>
                  </div>
                  <br>
                  <div class="field">
                    <label class="label">Would you recommend this to anyone?</label>
                    <div class="control">
                        <label class="radio">
                          <input type="radio" name="Would you recommend this to anyone" value="yes">
                          Yes
                        </label>
                        <label class="radio">
                          <input type="radio" name="Would you recommend this to anyone" value="no">
                          No
                        </label>
                      </div>
                  </div>
                  <br>
                <div class="field">
                    <label class="label">Do you like the overall design of the site?</label>
                    <div class="control">
                        <label class="radio">
                          <input type="radio" name="Do you like the overall design Of the site" value="yes">
                          Yes
                        </label>
                        <label class="radio">
                          <input type="radio" name="Do you like the overall design Of the site" value="no">
                          No
                        </label>
                      </div>
                  </div>

                  <br>
                  <div class="field">
                    <label class="label">If yes, what did you like? If no, what didn't you like?</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Explain why" name="If yes, what did you like? If no, what didn't you like"></textarea>
                      </div>
                  </div>
                  <br>
                  <div class="field">
                    <label class="label">Did you find any bugs? If so describe the bug.</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Explain the bug" name="Did you find any bugs? If so describe the bug"></textarea>
                      </div>
                  </div>
                  <br>
                  <div class="field">
                    <label class="label">Rate your experience using the platform</label>
                    <div class="control">
                        <label class="radio">
                          <input type="radio" name="Rate your experience using the platform" value="Not good">
                          Not good
                        </label>
                        <label class="radio">
                          <input type="radio" name="Rate your experience using the platform" value="Average">
                          average
                        </label>
                        <label class="radio">
                            <input type="radio" name="Rate your experience using the platform" value="Very good">
                            Very good
                          </label>
                          <label class="radio">
                            <input type="radio" name="Rate your experience using the platform" value="Excellent">
                            Excellent
                          </label>
                      </div>
                  </div>
                  <br>
                  <div class="field">
                    <label class="label">Additional Comments</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="add additional comments and review" name="additional comments"></textarea>
                    </div>
                  </div>
                  <br>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="main-btn">Submit</button>
                    </div>
                  </div>
                  </form>
            </div>
        </div>
    </div>
</div>

{{ end }}