{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column is-8">
                <div class="aboutpage">
                    <h2 class="title is-2">What we do</h2>
                    <p>We build websites using the latest trend called JAMstack. Our clients trust us to build the highest performing websites for their business and that's what we focus on. Often times, we do our best to release free templates for our free users to get started using JAMstack websites</p>
                </div>
            </div>
            <div class="column has-text-centered">
                <img src="/uploads/about.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">Why we use JAMstack</h4>
                    <p>The benefits provided by JAMstack websites outranks any websites running on the server.</p>
                    <p><strong>Faster, better performance</strong></p>
                    <p>Website content, files, and assets served over a CDN results in a fast website</p>
                    <p><strong>High Security</strong></p>
                    <p>Removing the use of servers and database operations eliminates any security threats and database injections</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">Support</h4>
                    <p>Need updates to your website? We provide quality support that ensures our customers their site is taken care of.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}