{{ define "main" }}

<div class="container">
    <div class="columns">
        <img src="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column portfolio-title is-half">
                <h2 class="title is-2">10 years in the game</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">About</h4>
                    <p>Ram Dettmer is a full service web developer with over 10 years of programming experience and digital design. The main focus is to improve performance metrics across the board through inspirational design, communication, and transparency</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">The Goal</h4>
                    <p>The goal is to keep the website performing at optimal speeds and up-to-date, mainly through building static websites!</p>
                </div>            </div>
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">Support</h4>
                    <p>My clients remain loyal for my extraordinary support. Have a question or concern? Everyone gets priority support through text, phone, or email.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}