{{ define "main" }}

<div class="container">
    <div class="columns">
        <img src="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column portfolio-title is-half">
                <h2 class="title is-2">Over 10 years in the game</h2>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">About us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, nisi et. Non qui, alias officia mollitia iste cum quae tempora nihil quaerat deleniti beatae blanditiis accusamus aliquam, cupiditate cumque voluptas?</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">About us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, nisi et. Non qui, alias officia mollitia iste cum quae tempora nihil quaerat deleniti beatae blanditiis accusamus aliquam, cupiditate cumque voluptas?</p>
                </div>            </div>
            <div class="column">
                <div class="content">
                    <h4 class="subtitle is-4">About us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, nisi et. Non qui, alias officia mollitia iste cum quae tempora nihil quaerat deleniti beatae blanditiis accusamus aliquam, cupiditate cumque voluptas?</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}