<div class="cta__section">
<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title is-4">What We Do</h1>
                <p>We eliminate the difficult process of going back and forth with web designers. Quickly get your website up with no hassle with a plug and play theme, custom back end, and account managers!</p>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Made for Realtors</h2>
                </div>
            </div>
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Made for Ecommerce</h2>
                </div>
            </div>
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Made for Businesses</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>