<div class="section">
    <div class="container cta__section">
        <div class="columns has-text-centered pt-6 pb-6">
            <div class="column">
                <h1 class="title is-4">What We Do</h1>
                <p>We eliminate the difficult process of going back and forth with web designers. Quickly get your website up with no hassle with a plug and play theme, custom back end, and account managers!</p>
            </div>
        </div>
        <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Speed</h2>
                    <p>There is no database involved, so expect your site to be faster and provide a better user experience. Outrank your competitors on Google pagespeed by using JAMstack</p>
                </div>
            </div>
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Stable</h2>
                    <p>All sites are loaded to a CDN prebuilt for performance and deployed to a global edge network. This eliminates the need for traditional web servers which are prone to go down</p>
                </div>
            </div>
        </div>
        <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Scalable</h2>
                    <p>New features and backend options can easily be implemented, we encourage feature request especially as your business grows and need to scale your website without hassle</p>
                </div>
            </div>
            <div class="column">
                <div class="inner-box">
                    <h2 class="title is-4">Security</h2>
                    <p>Safer than any Wordpress sites. JAMstack sites is a fortress and any security threat to the site is removed or can never occur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
