<footer class="footer">
    <div class="inner-footer">
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <h1 class="title is-1">Hungry Ram</h1>
                </div>
                <div class="column">
                    <h4 class="subtitle is-3 footer-tagline">Web development & design for the new age, one step at a time. <a href="/projects">See My Work</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h4 class="title is-4">Connect</h4>
                    {{ $location := .Site.Data.profile.address }}
                    {{ $contact := .Site.Data.profile.primary_account }}
                    <ul>
                      {{ if $location }}{{ if $location.disable_address }}{{ else }}<li><i class="fas fa-map-marker-alt"></i> {{ $location.street_address }} {{ $location.primary_city }} {{ $location.primary_state }} {{ $location.primary_zip_code }}{{ end }}</li> {{ end }}
                      {{ if $contact }}<li><i class="far fa-envelope"></i> <a href="mailto:{{ $contact.primary_email }}">{{ $contact.primary_email }}</a></li> {{ end }}
                      {{ if $contact }}<li><i class="fas fa-mobile-alt"></i><a href="tel:{{ $contact.primary_phone_number }}">{{ $contact.primary_phone_number }}</a></li> {{ end }}
                    </ul>       
                  </div>
                  <div class="column">
                    <h4 class="title is-4">Resources</h4>
                    <ul>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/portfolio">Portfolio</a></li>
                      <li><a href="/about">About</a></li>
                    </ul>
                  </div>
                  <div class="column">
                    <h4 class="title is-4">Recent Posts</h4>
                    <ul>
                    {{ range  first 5 ( where $.Site.RegularPages "Type" "blog") }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{end}}
                    </ul>
                  </div>
                  <div class="column">
                    <h4 class="title is-4">About</h4>
                    <p>Building sites using Jamstack. Find out why we use Jamstack <a href="https://jamstack.org/" style="text-decoration: underline;" target="_blank">here</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {{ $footerSocial := .Site.Data.profile.add_social_links }}
                    <ul class="footer-social">
                        {{ if $footerSocial.facebook }}<li><a href="{{ $footerSocial.facebook }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>{{ end }}
                        {{ if $footerSocial.instagram }}<li><a href="{{ $footerSocial.instagram }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>{{ end }}
                        {{ if $footerSocial.linkedin }}<li><a href="{{ $footerSocial.linkedin }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>{{ end }}
                        {{ if $footerSocial.pinterest }}<li><a href="{{ $footerSocial.pinterest }}" target="_blank" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>{{ end }}
                        {{ if $footerSocial.yelp }}<li><a href="{{ $footerSocial.yelp }}" target="_blank" title="Yelp"><i class="fab fa-yelp"></i></a></li>{{ end }}
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{.Site.BaseURL}}js/slick.min.js"></script>
<script src="{{.Site.BaseURL}}js/main.js"></script> 
</body>
</html>