<section class="hero is-fullheight">

  {{ partial "newnav.html" . }}
  
    <div class="hero-body content">
      <div class="container">
        <div class="columns is-vcentered is-gapless">
          <div class="column">
            <h1 class="title is-1">
              {{ .Site.Data.design.hero.hero_title }}
            </h1>
            
            <p class="subtitle">
              {{ .Site.Data.design.hero.hero_subtitle }}
            </p>
            <br>
            <a href="/contact" class="hero-cta">Learn more</a>
          </div>
          <div class="column mt-6">
            <div class="phone-bg" style="background:#d5465f;padding-right: 20px">
              <img src="/uploads/hr.jpg" alt="" class="lax" data-lax-preset="eager-150" style="position:relative;right:10px;box-shadow:9px 11px 20px #823744">
            </div>
          </div>

        </div>
      </div>
      </div>

    
  <!-- Hero footer: will stick at the bottom -->
  {{/*  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h4 class="subtitle is-6">Cutting edge solutions</h4>
            <p>Fast rendering websites</p>
          </div>
          <div class="column">
            <h4 class="subtitle is-6">Trending Technology</h4>
            <p>No outdated software ever</p>
          </div>
          <div class="column">
            <h4 class="subtitle is-6">ADA Compliant</h4>
            <p>Integrated ADA compliant website</p>
          </div>
          <div class="column">
            <h4 class="subtitle is-6">Easy Management</h4>
            <p>Manage your website on any device</p>
          </div>
        </div>
      </div>
    </nav>
  </div>  */}}
  </section>

  