<section class="hero is-fullheight" style="background:url(/uploads/background4.jpg) no-repeat center">

  {{ partial "newnav.html" . }}
  
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered is-variable is-8">
          <div class="column is-7">
            <h4 class="subtitle is-5 is-size-5-mobile"></h4>
            <h1 class="title is-1 is-size-2-mobile">
              JAMstack: The new way to faster, secure websites
            </h1>
            
            <p class="subtitle">
              {{ .Site.Data.design.hero.hero_subtitle }}
            </p>
            <br>
            <a href="/contact/" class="hero-cta">Join the JAMstack revolution</a>
            <br><br><br>
            <p class="is-size-6">Are you in Real Estate? <a href="/real-estate-websites" style="color: #7097F5;border-bottom:2px solid #7097F5">Start Here!</a></p>

          </div>
          <div class="column">
            <div class="phone-bg">
              <img src="/uploads/typing.png" alt="business women coding">
            </div>
          </div>

        </div>
      </div>
      </div>
    </section>