<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h6 class="title is-6">Experience the power of static sites</h6>
                    <p>Eliminating database will make your website perform at optimal speeds, creating a better user experience</p>
                </div>
                <div class="box">
                  <h6 class="title is-6">Optimize your ranking for Search Engines</h6>
                  <p>With a website performing at optimal speed, we'll need to make sure that search engines are seeing the improvements</p>
              </div>
              <div class="box">
                  <h6 class="title is-6">Grow your brand</h6>
                  <p>Wow your visitors with a modern website design focused on user experience and easy editing to scale your business</p>
              </div>
            </div>
            <div class="column">
              <img src="/uploads/time.png" alt="">
            </div>
        </div>
    </div>
</div>