<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Text input">
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" type="email" placeholder="Email input">
                    </div>
                  </div>
                  
                  
                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Textarea"></textarea>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="box">
                    <h6 class="is-title is-4">We're here for you!</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officiis voluptate exercitationem eligendi error aliquam laudantium blanditiis ipsum ratione dolores, quaerat atque, pariatur sed ut! Illo unde laborum quasi odit.</p>
                </div>
                <div class="box">
                  <h6 class="is-title is-4">We're here for you!</h6>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officiis voluptate exercitationem eligendi error aliquam laudantium blanditiis ipsum ratione dolores, quaerat atque, pariatur sed ut! Illo unde laborum quasi odit.</p>
              </div>
              <div class="box">
                  <h6 class="is-title is-4">We're here for you!</h6>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officiis voluptate exercitationem eligendi error aliquam laudantium blanditiis ipsum ratione dolores, quaerat atque, pariatur sed ut! Illo unde laborum quasi odit.</p>
              </div>
            </div>
        </div>
    </div>
</div>