<div class="section" id="icon-cta">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                {{ with .Site.Data.design.info_icons.icon_info_one.icon_one_select }}<i class="fab fas fa-{{ . }}"></i>{{end}}
                <p>{{ .Site.Data.design.info_icons.icon_info_one.icon_one_text }}</p>
            </div>

            <div class="column">
                {{ with .Site.Data.design.info_icons.icon_info_two.icon_two_select }}<i class="fab fas fa-{{ . }}"></i>{{end}}
                <p>{{ .Site.Data.design.info_icons.icon_info_two.icon_two_text }}</p>
            </div>

            <div class="column">
                {{ with .Site.Data.design.info_icons.icon_three.icon_three_select }}<i class="fab fas fa-{{ . }}"></i>{{end}}
                <p>{{ .Site.Data.design.info_icons.icon_three.icon_three_text }}</p>
            </div>

            <div class="column">
                {{ with .Site.Data.design.info_icons.icon_four.icon_four_select }}<i class="fab fas fa-{{ . }}"></i>{{end}}
                <p>{{ .Site.Data.design.info_icons.icon_four.icon_four_text }}</p>
            </div>

            <div class="column">
                {{ with .Site.Data.design.info_icons.icon_five.icon_five_select }}<i class="fab fas fa-{{ . }}"></i>{{end}}
                <p>{{ .Site.Data.design.info_icons.icon_five.icon_five_text }}</p>
            </div>
        </div>
    </div>
</div>