<div class="section">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column">
                <i class="fab fa-accusoft"></i>
                <p>Eliminate Mortgage Payments</p>
            </div>

            <div class="column">
                <i class="fab fa-accusoft"></i>
                <p>Eliminate Mortgage Payments</p>
            </div>

            <div class="column">
                <i class="fab fa-accusoft"></i>
                <p>Eliminate Mortgage Payments</p>
            </div>

            <div class="column">
                <i class="fab fa-accusoft"></i>
                <p>Eliminate Mortgage Payments</p>
            </div>

            <div class="column">
                <i class="fab fa-accusoft"></i>
                <p>Eliminate Mortgage Payments</p>
            </div>
        </div>
    </div>
</div>