<div class="parallax__section" style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80) no-repeat center;background-size: cover;height: 50vh; display: flex;align-items:center">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h2 class="is-title is-4">Build better business software a lot quicker with LeadEngine</h2>
                <p>Cras mattis iudicium purus sit amet fermentum at nos hinc posthac, sitientis piros afros</p>
                <a href="" class="button">Learn more</a>
            </div>
            <div class="column has-text-centered">
                <div class="columns">
                    <div class="column parallax-box">
                        Investments
                    </div>
                    <div class="column parallax-box">
                        Offices
                    </div>
                </div>
                <div class="columns">
                    <div class="column parallax-box">
                        Investments
                    </div>
                    <div class="column parallax-box">
                        Offices
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>