<div class="parallax__section">
    <div class="section">
    <div class="container">
        <div class="columns has-text-centered mb-6">
            <div class="column">
                <div class="info-title">
                    <h1 class="title is-4">An Investment That Pays Off</h1>
                    <p>Reap greater returns on investments with a site that can easily scale in performance and speed.</p>
                </div>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column">
                <div class="card" style="margin: 10px; height: 100%;">
                    <a href="{{ .Permalink }}">
                    <div class="listing-image-container">
                        <div class="card-content listing-bg" style="background: url(/uploads/belair.jpg);height: 40vh;position:relative;background-size:cover">
                    </div>
                  </div>
                    <footer class="card-footer">
                      <div class="card-content">
                        <h2 class="subtitle is-5">Yoori Park</h2>
                        <p class="blog-summary">Learn how Yoori Park increased website speed and performance by converting to the JAMstack site</p><a href="{{ .Permalink }}" class="secondary-btn">Read Case Study</a>
                      </div>
                    </footer>
                  </a>
                  </div>
            </div>
            <div class="column has-text-centered">
                <div class="columns">
                    <div class="column">
                        <h4 class="subtitle">87%</h4>
                        <hr style="width: 100px;margin: 10px auto">
                        <p>Faster Load Time</p>
                    </div>
                    <div class="column">
                        <h4 class="subtitle">0</h4>
                        <hr style="width: 100px;margin: 10px auto">
                        <p>Servers used</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <h4 class="subtitle">92%</h4>
                        <hr style="width: 100px;margin: 10px auto">
                        <p>Better performance</p>
                    </div>
                    <div class="column">
                        <h4 class="subtitle">30%</h4>
                        <hr style="width: 100px;margin: 10px auto">
                        <p>Improved SEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
    </div>
</div>