<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <article class="message">
                    <div class="message-header">
                        <h2>TRADITIONAL REVERSE MORTGAGE ~ HECM ~ HOME EQUITY CONVERSION MORTGAGE</h2>
                    </div>
                    <div class="message-body">
                        <h2 class="title is-4">FHA MAXIMUM CLAIM AMOUNT UP TO $726,525</h2>
                        <ul class="info-list">
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <article class="message">
                    <div class="message-header">
                        <h2>TRADITIONAL REVERSE MORTGAGE ~ HECM ~ HOME EQUITY CONVERSION MORTGAGE</h2>
                    </div>
                    <div class="message-body">
                        <h2 class="title is-4">FHA MAXIMUM CLAIM AMOUNT UP TO $726,525</h2>
                        <ul class="info-list">
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                            <li>Eliminate Mortgage Payments for the rest of your life</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column">
                <button class="button is-success">Normal</button>
            </div>
        </div>
    </div>
</div>

<div class="hero has-text-centered is-info">
    <div class="container">
        <h2>Setting the Standard in Quality Reverse Mortgage Service.</h2>
        <p>Call today to find out if a Reverse mortgage is right for you</p>
    </div>
</div>