<div class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">{{ $introOne := .Site.Data.design.intro_section }}
        <h2 class="title is-4">{{ $introOne.intro_heading }}</h2>
        <p>{{ $introOne.introduction_body }}</p><br><br>
        <a href="/contact" class="main-btn">Get in Touch</a>
      </div>
      <div class="column">
        <img src="{{ $introOne.intro_image }}" alt="">
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column">
        <img src="{{ $introOne.second_intro_image }}" alt="">
      </div>
      <div class="column">
        <h2 class="title is-4">{{ $introOne.second_intro_heading }}</h2>
        <p>{{ $introOne.second_intro_body }}</p><br><br>
        <a href="/contact" class="main-btn">Get in Touch</a>
      </div>
    </div>
  </div>
</div>