<div class="section" id="intro-section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
              <div class="content">
                <h1 class="title is-2">{{ .Site.Data.design.intro_section.intro_heading }}</h1>
                <p>{{ .Site.Data.design.intro_section.introduction_body }}</p>
              </div>
                <br>
                <ul>
                    {{ range .Site.Data.design.intro_section.intro_points }}
                        <li><i class="fas fa-check-circle"></i>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>

            <div class="column">
              <form name="contact" method="POST" data-netlify="true">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Full Name">
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="email" placeholder="Email input" value="">
                    </div>
                  </div>
                
                  
                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Textarea"></textarea>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link" type="submit" style="background:#bea233">Submit</button>
                    </div>

                  </div>
                  </form>
            </div>
        </div>
    </div>
</div>