<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Our COVID Discount!</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="has-text-centered">
                    <h2 class="title is-3">Special 50% Off your Website Design</h2>
                    <p class="is-size-6 mb-4">Enter your email to receive 50% off your website! Strengthen your brand and site with our custom development</p>
                </div>
              <form name="Discount" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                  <input name="bot-field" type="hidden" />
                  <input type="hidden" name="subject" value="contact form" />
              <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="Your Email" name="email" required>
                  </div>
                </div>
                
                <div class="field has-text-centered">
                  <div class="control">
                    <button class="main-btn">Submit</button>
                  </div>
                </div>
                </form>
            </div>
        </div>
      </section>
    </div>
  </div>