<div class="section">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column has-text-centered">
                <img src="/uploads/hungryrambanner2.png" alt="" width="400">
            </div>
            <div class="column content">
                <h4 class="subtitle is-6">Based in Orange County</h4>
                <h1 class="title is-2">Upgrade your website the JAMstack way</h1>
                <p>No page builders, drag-and-drops, or Wordpress to slow your website. Your site will be custom coded through JAMstack, the only way to achieve lightning fast, highly secure websites. Ram, the owner of Hungry Ram focuses on clean code and SEO with a design tailored to your industry and business model.</p>
                <p><strong>While your competitors are on Wordpress, get ahead and join the JAMstack revolution!</strong></p>
                <br>
                <a href="" class="main-btn">Level Up Your Site</a>
            </div>
        </div>
    </div>
</div>