<div class="section">
    <div class="container has-text-centered">
        <h2 class="title is-4">Testimonials</h2>
        <div class="review-slider">
            <div class="slide-container has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sit repellendus aspernatur quam minus commodi delectus tempora quibusdam! Voluptatibus eius placeat quis excepturi nobis incidunt exercitationem officia doloribus officiis obcaecati!</p>
                    <h3>Yoori Park</h3>
                </div>
            </div>
            <div class="slide-container has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sit repellendus aspernatur quam minus commodi delectus tempora quibusdam! Voluptatibus eius placeat quis excepturi nobis incidunt exercitationem officia doloribus officiis obcaecati!</p>
                    <h3>Yoori Park</h3>
                </div>
            </div>
            <div class="slide-container has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sit repellendus aspernatur quam minus commodi delectus tempora quibusdam! Voluptatibus eius placeat quis excepturi nobis incidunt exercitationem officia doloribus officiis obcaecati!</p>
                    <h3>Yoori Park</h3>
                </div>
            </div>
            <div class="slide-container has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sit repellendus aspernatur quam minus commodi delectus tempora quibusdam! Voluptatibus eius placeat quis excepturi nobis incidunt exercitationem officia doloribus officiis obcaecati!</p>
                    <h3>Yoori Park</h3>
                </div>
            </div>
        </div>
    </div>
</div>