<div class="section">
    <div class="container has-text-centered">
        <h2 class="title is-4">Testimonials</h2>
        <div class="review-slider">
            {{ range first 5 ( where .Site.RegularPages "Type" "reviews") }}

            <div class="slide-container has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ .Params.image }}">
                      </figure>
                    <p style="padding-bottom: 20px">{{ .Params.review }}</p>
                    <h3 class="subtitle">{{ .Params.Title }}</h3>
                    <h3 class="subtitle is-6">{{ .Params.occupation }}</h3>
                </div>
            </div>

            {{ end }}
        </div>
    </div>
</div>