<div class="blog-sidebar">
    <div class="card-sidebar">
    <div class="card-image">
      <figure class="image is-128x128">
        <img src="{{ .Site.Data.profile.primary_photo }}" class="is-rounded" alt="Placeholder image" style="object-fit: cover;">
      </figure>
    </div>
    <div class="card-content has-text-centered">
      <div class="media">
        <div class="media-content has-text-centered">
          <p class="title is-4">{{ .Site.Data.profile.primary_account.first_and_last_name }}</p>
        </div>
      </div>
  
      <div class="sidebar-social">
        {{ $sidebarSocial := .Site.Data.profile.add_social_links }}
        <ul class="sidebar-social">
          {{ if $sidebarSocial.facebook }}<li><a href="{{ $sidebarSocial.facebook }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>{{ end }}
          {{ if $sidebarSocial.instagram }}<li><a href="{{ $sidebarSocial.instagram }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>{{ end }}
          {{ if $sidebarSocial.linkedin }}<li><a href="{{ $sidebarSocial.linkedin }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>{{ end }}
          {{ if $sidebarSocial.pinterest }}<li><a href="{{ $sidebarSocial.pinterest }}" target="_blank" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>{{ end }}
          {{ if $sidebarSocial.yelp }}<li><a href="{{ $sidebarSocial.yelp }}" target="_blank" title="Yelp"><i class="fab fa-yelp"></i></a></li>{{ end }}
        </ul>
        <p>I'm available for projects, get in touch and let's start building your brand using the newest technology for web development</p>
          <hr>
        </div>
    </div>
</div>

<h2 class="subtitle is-6">Blog Categories</h2>
<ul>
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  <li>
    <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/categories{{ $name | urlize | relURL }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
  </li>
  {{end}}

</ul>

<hr>

{{ range  first 4 ( where $.Site.RegularPages "Type" "blog") }}
<article class="media">
    {{ if .Params.featured_image }}
    <div class="media-left">
      <figure class="image is-96x96">
        <img src="{{ .Params.featured_image }}" alt="Image">
      </figure>
    </div>
    {{end}}
    <div class="media-content">
      <div class="content">
          <h1 class="title is-6" style="margin: 0">{{ .Params.title }}</h1>
          <time>{{.Date.Format "Jan 2, 2006" }}</time><br>
          <a href="{{ .Permalink }}" style="color: #000">Continue Reading</a>
    </div>
</article>
{{end}}
</div>