{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h2 class="title is-4 contact-title">Let's start a project together.</h2>
            </div>
            <div class="column">
                <p>Let's work together to create game-changing experiences that will not only level up your brand, but optimize your website for the best user experience and search engined optimized</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h4 class="subtitle is-6">Ask a Question</h4>
                    <p>We're here to help and answer any questions you might have. We look forward to hearing from you</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="subtitle is-6">Contact by <a href="tel:{{ .Site.Data.profile.primary_account.primary_phone_number }}" style="font-family: inherit;">Phone</a></h4>
                    <p>Want to give us a ring? Call us today and get the answers you're looking for</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="subtitle is-6">Need a Demo?</h4>
                    <p>Send us an email and let us know you would like a demo, we'll get in touch!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="/uploads/20200423-01-3952RevereAve-LosAngeles,CA-004-Small.jpg" alt="">
            </div>
            <div class="column">
                <h2 class="title is-4">Contact Us</h2>
                <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                    <input name="bot-field" type="hidden" />
                    <input type="hidden" name="subject" value="contact form" />
                    <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Your Name" name="name">
                        </div>
                      </div>
                <div class="field">
                    <div class="control">
                      <input class="input" type="email" placeholder="Your Email" name="email" required>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <textarea class="textarea" placeholder="Your message" name="message" required></textarea>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="main-btn">Submit</button>
                    </div>
                  </div>
                  </form>
                </div>
        </div>
    </div>
</div>

{{ end }}