{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h2 class="title is-4 contact-title">Find out how JAMstack can improve your website</h2>
            </div>
            <div class="column">
                <p>Our team will be happy to get in touch with you for any questions you have</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns contact-box">
            <div class="column">
                <div class="box">
                    <h4 class="subtitle is-6">Ask a Question</h4>
                    <p>Learn more about JAMstack and how it can help your site?</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="subtitle is-6">Contact by <a href="tel:{{ .Site.Data.profile.primary_account.primary_phone_number }}" style="font-family: inherit;">Phone</a></h4>
                    <p>Contact by phone and have your questions answered</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="subtitle is-6">Free Consultation</h4>
                    <p>Don't hesitate to reach out!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="/uploads/contact.png" alt="">
            </div>
            <div class="column">
                <h2 class="title is-4">Let's help each other grow</h2>
                <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                    <input name="bot-field" type="hidden" />
                    <input type="hidden" name="subject" value="contact form" />
                    <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Your Name" name="name">
                        </div>
                      </div>
                <div class="field">
                    <div class="control">
                      <input class="input" type="email" placeholder="Your Email" name="email" required>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <textarea class="textarea" placeholder="Your message" name="message" required></textarea>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="main-btn">Submit</button>
                    </div>
                  </div>
                  </form>
                </div>
        </div>
    </div>
</div>

{{ end }}